<h1>Websites</h1>
<a class="omny-button-primary" ng-click="openDialog()">Create Website</a>
<div id="omny-website-list-container">
    <ul class="omny-website-list">
        <li ng-repeat="site in sites">
            {{site.siteName}}
            <span class="omny-website-list-buttons">
                <a  ng-href="/site.html?site={{site.subdomain}}" class="omny-button-primary">Edit</a> 
                <a class="omny-button-default">Delete</a></span>
        </li>
    </ul>
</div>